<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test suite" parallel="methods" thread-count="8" data-provider-thread-count="8">
    <!--<suite name="Test suite" >-->
    <test name="Test test">
        <classes>
            <class name="io.mishustin.tests.TodoWebTest"/>
        </classes>
    </test>
</suite>